
.footer {
      background-color: #afadaad3;
      color: #ffffff;
      height: 50px;
      padding: 5px;
  }
  h1.mb-4 {
      text-align: center;
      font-size: 30px;
  }
  .Main-body {
      background-color: #d7e6eb;
      padding-top: 83px;
      padding-bottom: 83px;
      height: 85vh;
  }
.footer1 {
        background-color: #000000;
        color: #ffffff;
        padding: 1rem;
  }
  input {
      height: 42px;
      margin-bottom: 20px;
  }
  form {
      width: 50%;
      margin: auto;
  }
  
  .login-page {
      width: 100px;
      margin-left: 220px;
  }
  #languages{
        text-align: right;
  }