html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .Log-body {
    background-color: #a2e2f3;
    padding-top: 83px;
    padding-bottom: 83px;
    width: 100%;
    height: 100%;
  }